.adminLoginBackground {
    background-image: url("../../../images/admin_login.svg");
    min-height: 85vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right 10%;
    background-size: 60vh;
    border-left: 1px solid;
    border-right: 1px solid;
}

.adminText {
    font-size: 40px;
}

.userToEditField {
    font-size: 24px;
}

.userToEditTextArea {
    background: #FFCC65;
    border: none;
    border-radius: 7px;
}

.removeUserButton {
    font-size: 22px;
    background: #FDE751;
    border-radius: 10px;
    border: none;
    transition-duration: 0.5s;
}

.removeUserButton:hover {
    background: #E27F86;
    color: white;
    transition-duration: 0.5s;
}