.footerBrandName {
    color: rgba(0, 0, 0, 0.64) !important;
    font-size: 26px;
    font-weight: bold;
}

.footerLogo {
    height: 100%;
    width: 7vh;
    min-width: 50px;
}

.aboutUsAllRights {
    color: rgba(0, 0, 0, 0.35);
    font-size: 20px;
}

.aboutUsContatInfo {
    color: rgba(0, 0, 0, 0.35);
}