.selectAddressMainBox {
    background: #FFCC65;
    border-radius: 10px;
}

.selectAddressRadio {
    width: 20px;
    height: 20px;
}

.addressBoxDesc {
    font-size: 18px;
    padding-right: 25px;
}

.selectAddressLink {
    text-decoration: none;
    color: black;
    border: none;
    background: #FDE751;
    border-radius: 10px;
    font-size: 18px;
}

.selectAddressLink:hover {
    color: black;
}

.disabledCursor { 
    background-color: white;
    cursor: default;
}

.selectAddressTextBox {
    background: #FFFFFF;
    border-radius: 5px;
    font-size: 18px;
    border: none;
}

.goToPaymentButton {
    font-weight: bold;
    font-size: 26px;
    background: #FDE751;
    border: none;
    transition-duration: 0.4s;
}

.goToPaymentButton:hover {
    transition-duration: 0.4s;
    transform: scale(1.05);
    background-color: #fff494;
}

.addrLimitParag {
    background-color: #E27F86;
    border-radius: 5px;
}

.selectAddressWarningMessage {
    font-weight: bold;
    font-size: 24px;
}