.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.homepageHeader {
    height: 10vh;
    background-color: #6D676E;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.headerLogo {
    height: 100%;
    width: 5vh;
}

.headerBrandName {
    color: #e8cf1eff !important;
    font-size: 26px;
    font-weight: bold;
}

.navBarLink {
    color: #FFFFFF !important;
    font-size: 22px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 100px;
    transition-duration: 0.5s;
    -webkit-transition: 0.5s;
}

.navBarLink:hover {
    transition-duration: 0.5s;
    -webkit-transition: 0.5s;
    background-color: #FA7921;
}

.navBarLinkSpecial {
    color: #FFFFFF !important;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    background: #FA7921;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}

.navBarLinkSpecial:hover {
    transform: scale(1.15);
    transition-duration: 0.5s;
    -webkit-transition: 0.5s;
    background-color: #e8cf1eff;
    color: #230007ff !important;
}

/* CSS HEX */
/* --dark-sienna: #230007ff;
--dim-gray: #6d676eff;
--safety-yellow: #e8cf1eff;
--atomic-tangerine: #f39b6dff;
--mango-tango: #f08a4bff;
--white: #ffffffff;
--pumpkin: #fa7921ff; */