
.dataBox{
	background: #FFCC65;
	border-radius: 60px;
}

.inputData{
	background: rgba(251, 255, 64, 0.53);
	border-radius: 15.7576px;
}

.followPayment{
	background: #FDE751;
	border-radius: 25px;
}