.eggBackground{
	background: url("../../images/background_egg.svg");
	min-height: 80vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    background-size: 70vh;
}

.dataBox{
	background: #FFCC65;
	border-radius: 60px;
}

.inputData{
	background: rgba(251, 255, 64, 0.53);
	border-radius: 15.7576px;
}

.followPayment{
	background: #FDE751;
	border-radius: 17px;
	color: black;
	text-decoration: none;
}
.followPayment:hover{
	color: black;
}

.shipping{
	color: black;
	text-decoration: none;
}
.shipping:hover{
	color: black;
}