.loginEggBackground {
    background-image: url("../../images/background_egg.svg");
    min-height: 80vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    background-size: 70vh;
    border-left: 1px solid;
    border-right: 1px solid;
}

.loginText {
    font-size: 40px;
}

.loginFormContainer {
    background: #FFCC65;
    border-radius: 7px;
}

.loginFormInput {
    background: rgba(251, 255, 64, 0.53);
    border-radius: 7px;
    border: none;
    font-size: 20px;
    transition-duration: 0.5s;
}

.loginFormInput:hover {
    background-color: white;
    color: black;
    transition-duration: 0.5s;
}

.loginFormInput:focus {
    background-color: white;
    color: black;
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.loginFormButton {
    background: #FDE751;
    border-radius: 7px;
    border: none;
    font-size: 24px;
    transition-duration: 0.5s;
}

.loginFormButton:hover {
    background-color: #E27F86;
    transition-duration: 0.5s;
}

.loginLink {
    text-decoration: none;
    color: black;
}

.loginLink:hover {
    text-decoration: none;
    color: #E27F86;
}