* {
	/* margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box; */
	color: black;
  }
  
html, body, #root {
height: 100%;  /* as tags, por padrão, não ocupam 100% de altura. As divs ocupam 100% de largura  */
}

body {
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
height: 100%;
/* overflow: hidden;*/
}

body, input, button { /* Input e button, por padrão, não herdam a fonte do corpo do HTML */
color: black;
font-family: Roboto;
}

.shoppingCart{
	margin-bottom: 50px;
	background: #C4C4C4;
	box-shadow: inset -4px -4px 25px rgba(0, 0, 0, 0.25);
	border-radius: 100px;
}

.generalBox{
	font-size: 18px;
	margin-bottom: 50px;
	background: #C4C4C4;
	box-shadow: inset -4px -4px 25px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
}

.finishShop{
	background: #FA7921;
	box-shadow: inset -4px -4px 25px rgba(0, 0, 0, 0.25);
	border-radius: 100px;
}

.finishShopF{
	font-size: 32px;
	font-weight: bold;
}

.atributteDisplay{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 35px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}