.shoppingCart{
	background: #fde751;
	box-shadow: inset -4px -4px 25px rgba(0, 0, 0, 0.25);
	border-radius: 100px;
}

.generalBox{
	font-size: 18px;
	background: #FFCC65;
	box-shadow: inset -4px -4px 25px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
}
.shoppingCartItensList {
	font-size: 18px;
	background: #FFCC65;
	height: 400px;
    overflow: scroll;
    overflow-x: hidden;
	border-radius: 50px;
}

.finishShop{
	background: #fde751;
	box-shadow: inset -4px -4px 25px rgba(0, 0, 0, 0.25);
	border-radius: 100px;
}

.totalPay{
	background-color: #fde751;
	box-shadow: inset -4px -4px 25px rgba(0, 0, 0, 0.25);
	border-radius: 100px;
}

.finishShopF{
	font-size: 32px;
	font-weight: bold;
}

.atributteDisplay{
	font-size: 30px;
	text-align: center;
	color: #000000;
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number]{
	-moz-appearance: textfield;
}

.Quantity{
	max-width: 70px;
	background-color: rgba(0, 0, 0, 0) !important;
	border: none !important;
}