.gradientMainContainer {
    /* background: rgb(232,207,30); */
    /* background: linear-gradient(0deg, rgba(232,207,30,1) 0%, rgba(255,255,255,1) 30%); */
}

.homepageMainText {
    font-size: 60px;
}

.homepageMainDesc {
    font-size: 25px;
}

.howItWorksText {
    font-size: 50px;
    color: rgba(0, 0, 0, 0.54);
}

.homepageBuyButton {
    text-decoration: none;
    background: #FFFFFF;
    color: #000000;
    box-shadow: 0px 5.16636px 5.16636px rgba(0, 0, 0, 0.35);
    border-radius: 32px;
    font-size: 30px;
    transition-duration: 0.5s;
}

.homepageBuyButton:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
    color: #000000;
    background: rgba(254, 195, 0, 0.57);
}

.homepageProductEggOuter {
    background: rgba(245, 245, 245, 0.9);
    width: fit-content;
    border-radius: 50%;
}

.homepageProductEggInner {
    background: rgba(254, 195, 0, 0.57);
    width: fit-content;
    border-radius: 50%;
}

.scaledUp {
    transform: scale(1.3);
}

.homepageCard {
    background: #FFCC65;
    box-shadow: 0px 5.43188px 5.43188px rgba(0, 0, 0, 0.35);
    border-radius: 15px;

}

.difBackgoundPanel {
    background: rgba(254, 195, 0, 0.46);
}

.homeTextYellowPanel {
    font-size: 25px;
}