.adminLoginBackground {
    background-image: url("../../images/admin_login.svg");
    min-height: 85vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right 10%;
    background-size: 60vh;
    border-left: 1px solid;
    border-right: 1px solid;
}

.adminText {
    font-size: 40px;
}

.adminFormContainer {
    background: #FFCC65;
    border-radius: 7px;
    display: inline-block;
}

.adminFormInput {
    background: rgba(251, 255, 64, 0.53);
    border-radius: 7px;
    border: none;
    font-size: 20px;
    transition-duration: 0.5s;
}

.adminFormInput:hover {
    background-color: white;
    color: black;
    transition-duration: 0.5s;
}

.adminFormInput:focus {
    background-color: white;
    color: black;
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.adminFormButton {
    background: #FDE751;
    border-radius: 7px;
    border: none;
    font-size: 24px;
    transition-duration: 0.5s;
}

.adminFormButton:hover {
    background-color: #E27F86;
    transition-duration: 0.5s;
}