.productBar {
  
}

.productContainer {
    background-color: #FFCC65; 
    width: 250px;
    height: 280px;
    padding-top: 30px;
    border-radius: 15px;
    text-align: center;
    -webkit-box-shadow: 1px 5px 14px 0px rgba(0,0,0,0.64); 
    box-shadow: 1px 5px 14px 0px rgba(0,0,0,0.64);
    font-family: Montserrat;
}

.searchBar{
    padding: 10px;
    background-color: #c4c4c4; 
    border-radius: 25px;
}

.storeBuyButton {
    background-color: #FFFFFF; 
    border-radius: 10px;
    font-family: Inter;
    transition-duration: 0.3s;
}

.storeBuyButton:hover {
    cursor: pointer;
    transition-duration: 0.3s;
    transform: scale(1.1);
}

.category{
    color: #757575;
}

.addedToCartPopup {
    font-size: 18px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: rgb(119, 255, 115);
    width: 250px;
    border-radius: 10px;
}
