.eggBackgroundUser{
	background: url("../../images/background_egg.svg");
	min-height: 80vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left 30%;
    background-size: 70vh;
}



.address{
    height: 230px;
    width: 295px;
    border-radius: 18px;
    background-color:  #FFCC65;
    box-shadow: 1px 5px 14px 0px rgba(0,0,0,0.64);
    font-size: 22px;
    font-family: Montserrat;
}

.functionBox{
    border-radius: 18px;
    background-color:  #FFCC65;
}

.functionBox:hover {
    -webkit-transition: 0.3s;
    transform: scale(1.05);
}

.historyItem {
    font-size: 22px;
    background: #FFCC65;
    border-radius: 10px;
}

.deleteButton{
    font-size: 15px;
    background: #FDE751;
    border-radius: 10px;
}


.mainAddress{
    font-size: 15px;
    background: #ffff;
    border-radius: 7px;
    font-size: 14px;
}


.delete{
    background: #FDE751;
    border-radius: 7px;
    border: none;
    font-size: 14px;
    padding: 8px;
    transition-duration: 0.5s;
}
.delete:hover {
    background-color: #ffff;
    transition-duration: 0.5s;
}

.makeMain{
    background: #FDE751;
    border-radius: 7px;
    border: none;
    font-size: 14px;
    padding: 8px;
    transition-duration: 0.5s;
}

.makeMain:hover {
    background-color: #ffff;
    transition-duration: 0.5s;
}

.addAddress:hover {
    -webkit-transition: 0.2s;
    transform: scale(1.05);
}

.newAddress{
    background: #FDE751;
    border-radius: 7px;
    border: none;
    font-size: 14px;
    padding: 5px;
}

.saveAddr{
    background: #FDE751;
    border-radius: 7px;
    border: none;
    font-size: 14px;
}

.saveAddr:hover {
    background-color: #ffff;
    transition-duration: 0.5s;
}

.reportProb{
	color: black;
	text-decoration: none;
	font-size: 20px;
}